#loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    // @media screen and (max-width: 500px){
    //     align-items: start; 
    // }
}

.login{
    width: 518px;
    padding: 2rem 1.75rem;
    background: white;
    color: black;   
    border-radius: 10px;

    @media screen and (max-width: 500px){
        width: 80%;
        // margin-top: 3rem;
    }

    &Header{
        font-size: 1.75rem;
    }

    &Text{
        color: #667185;
        margin: 1rem 0;
    }

    &Form{
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;

        & > div:first-of-type{
            // border: 1px solid red;
            margin-bottom: 1.75rem;
        }

        & > div > label{
            font-size: 12px;
            color: #101928;
            font-weight: 700;
        }
        
        input{
            padding: 18px 0;
            width: 100%;
            margin-top: 5px;
            // margin: 1rem 0;
            padding: 0.5rem;
            // border: 1px solid var(--primary-color);
            outline: 1px solid hsl(203, 30%, 26%);
            border-radius: 5px;

            
            &:not(:placeholder-shown):valid{
                border: 2px solid lightgreen;   
            }

            &:not(:placeholder-shown):invalid{
                border: 2px solid red;
            }

            &:focus:invalid{
                // outline-color: 2px solid orange;
                border: 2px solid orange;
            }
        }
    }

    &ForgotPassword{
        margin-top: 0.8rem;
    }

    &NewUser{
        // border: 1px solid red;
        margin-top: 1.5rem;
        font-weight: bold;
        font-size: 14px;
        color: #667185;
    }
}