#loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    width: 518px;
    padding: 2rem 1.75rem;
    background: white;
    color: black;   
    border-radius: 10px;

    @media screen and (max-width: 500px){
        width: 80%;
    }

    &Header{
        font-size: 1.75rem;
    }

    &Text{
        color: #667185;
        margin: 1rem 0;
    }

    &Form{
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;

        & > div:first-of-type{
            // border: 1px solid red;
            margin-bottom: 1.75rem;
        }

        & > div > label{
            font-size: 12px;
            color: #101928;
            font-weight: 700;
        }
        
        input{
            padding: 18px 0;
            width: 100%;
            margin-top: 5px;
            // margin: 1rem 0;
            padding: 0.5rem;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
        }
    }

    &ForgotPassword{
        margin-top: 1rem;
    }
}