$primary: #007bff;
$secondary: #6c757d;
$buttonsecondary: #38424BB2;
$outline: #ccc;

.button {
  // padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: $primary;
    color: #fff;
  }

  &--secondary {
    background-color: $buttonsecondary;
    color: #fff;
  }

  &--outline {
    background-color: transparent;
    color: $outline;
    border: 1px solid $outline;
  }

  &--form{
    background: black;
    color: white;
  }

  &--danger{
    // background: red;
    background: #B22222;
    color: white;
  }

  &--save{
    background: green;
    color: white;
  }

  &--small {
    padding: 5px 10px;
    font-size: 12px;
  }

  &--medium {
    padding: 10px 20px;
    font-size: 14px;
  }

  &--large {
    padding: 15px 30px;
    font-size: 16px;
  }

  &.disabled {
    // opacity: 0.5;
    cursor: not-allowed;
  }
}