#newPasswordContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.newPassword {
  width: 518px;
  background: white;
  color: black;
  padding: 2rem 1.75rem; 
  border-radius: 10px;

  @media screen and (max-width: 500px){
    width: 80%;
  }

  &Header {
    margin: 1rem 0 1rem;
  }

  &Form {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;

    input {
      margin: 1rem 0;
      padding: 0.5rem;
      // border: 1px solid var(--primary-color);
      outline: inherit  ;
      border-radius: 5px;

      &:not(:placeholder-shown):valid{
        border: 2px solid lightgreen;   
      }

      &:not(:placeholder-shown):invalid{
        border: 2px solid red;
      }

      &:focus:invalid{
        // outline-color: 2px solid orange;
        border: 2px solid orange;
      }
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--primary-color);
      color: var(--primary-background);
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        // background-color: darken(var(--primary-color), 10%);
        opacity: 0.75;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-color);
      }
    }
  }
}
