.newPassword {
  background: var(--primary-background);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &Header {
    margin: 1rem 0 1rem;
  }

  &Form {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;

    input {
      margin: 1rem 0;
      padding: 0.5rem;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--primary-color);
      color: var(--primary-background);
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        // background-color: darken(var(--primary-color), 10%);
        opacity: 0.75;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-color);
      }
    }
  }
}
