.dailyLogForm{
    border: 1px solid #D0D5DD;
    width: fit-content;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    margin-inline: auto;
    background: white;
    padding: 2rem 1.75rem;
    border-radius: 10px;
    box-shadow: 0px 16px 24px 0px rgba(16, 25, 40, 0.08);

    &Header{
        font-size: 1.75rem;
        font-weight: 700;
    }

    &Text{
        margin: 24px 0;
        color: rgba(102, 113, 133, 1);
    }

    form{
        // border: 1px solid red;

        div{
            display: flex;
            flex-direction: column;

            label{
                font-size: 14px;
                color: #101928;
                font-weight: 700;
            }

            input, textarea{
                margin-top: 5px;
            }
        }
    }

    &Date{
        // display: none;
        margin-top: 1rem;
        font-weight: 600;
    }
}