#resetPasswordContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resetPassword {
  width: 518px;
  background: white;
  color: black;
  padding: 2rem 1.75rem; 
  border-radius: 10px;

    @media screen and (max-width: 500px){
      width: 80%;
    }

  &Header {
    margin: 1rem 0 1rem;
  }

  @media screen and (max-width: 500px){
    p{
      // color: red;
      font-size: 0.9rem;
    }    
  }

  &Form {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;

    input {
      margin: 1rem 0;
      padding: 0.5rem;
      // border: 1px solid var(--primary-color);
      outline: inherit;
      border-radius: 5px;

      &:not(:placeholder-shown):valid{
        border: 2px solid lightgreen;   
      }

      &:not(:placeholder-shown):invalid{
        border: 2px solid red;
      }

      &:focus:invalid{
        // outline-color: 2px solid orange;
        border: 2px solid orange;
      }
    }
  }
} 
