*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    min-height: 100vh;
    background: #070709;
    color: white;
    padding-top: 26px;
    max-width: 1300px;
    margin-inline: auto;

    &Navbar{
      // border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 999px;
      padding: 10px 12px;
      margin-inline: auto;  
      display: flex;
      justify-content: space-between;

      &__ctaButtons{
        display: flex;
        // flex: 0.2;
        // border: 1px solid blue;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 500px) {
          
        }
      }
    }

    &Hero{
      margin-top: 4rem;
      // border: 1px solid rgba(255, 255, 255, 0.09);
      border-radius: 20px;
      padding: 1rem 0;
      text-align: center;
      h1{
        font-size: 4rem;
        @media screen and (max-width: 500px){
          font-size: 2.5rem ;
        }
      }

      div{
        font-size: 1.5rem;
        margin-top: 1.5rem;
        width: 80%;
        margin: 3.5rem auto;

         @media screen and (max-width: 500px){
          margin: 1.5rem auto;
          font-size: 1.2rem;
        }
      }
    }

    &About{
      text-align: center;
      margin-top: 20vh;

      h3{
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

    }
}