@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
   font-family: "Nunito", sans-serif;
  --primary-background: white; 
  --primary-color: black;

  background: #070709;
  // &.dark{
  //   background: #070709;
  //   color: white;
  // }
}

