@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: "Chakra Petch", sans-serif;
  /* --primary-background: black;
  --primary-color: white; */
  
  --primary-background: white;
  --primary-color: black;
}

